# Auto detect text files and perform LF normalization
* text=auto

# Binary files - standard Git handling (No Git LFS)
*.joblib binary
*.pkl binary
*.npz binary
*.png binary
*.jpg binary
*.ico binary
