# Ignore Python cache directories and files
__pycache__/
*.py[cod]
*$py.class
**/__pycache__/
**/.ipynb_checkpoints/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# logs
**/inference.log