# Ignore Python cache directories and files
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# In case of nested directories
**/__pycache__/
**/.ipynb_checkpoints/